*{
    font-family: 'Helvetica';
    font-size: 10px;
}
td{
    padding-left: 5px;
}
/*cabecera de reporte*/
table.empresa_cabecera {
    margin-top: 22px;
}
.usuario_cabecera {
    margin-top: -48px;
    margin-left: 85%;
}
.titulo {
    margin: 0 auto;
    text-align: center;
}
/*contenido*/
table.contenido {
    padding-left: 3px;
}
/*IMPRESION*/
@media print { @page{ size: A4 landscape;margin: 0 0 0 0; } }